<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SSO单点登录</title>
</head>
<body>
<h1>欢迎访问单点访问系统</h1>
<form action="doLogin" method="post">
    <label for="username">用户名</label>
    <input type="text" id="username" name="username" placeholder="请输入用户名">
    <br/>
    <label for="password">密码</label>
    <input type="password" id="password" name="password" placeholder="请输入密码">
    <br/>
    <input type="hidden" name="returnUrl" th:value="${returnUrl}">
    <input type="submit" value="提交登录">
</form>
<span style="color: red" th:text="${errmsg}"></span>
</body>
</html>