<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xybh.mapper.ext.ItemsExtMapper">

    <resultMap id="BaseResultMap" type="com.xybh.pojo.vo.ItemsCommentsVO">
        <result property="commentLevel" column="commentLevel"/>
        <result property="content" column="content"/>
        <result property="specName" column="specName"/>
        <result property="nickname" column="nickname"/>
        <result property="createTime" column="createTime"/>
        <result property="userFace" column="face"/>
    </resultMap>

    <resultMap id="SearchItemsResultMap" type="com.xybh.pojo.vo.SearchItemsVO">
        <result property="itemId" column="itemId"/>
        <result property="itemName" column="itemName"/>
        <result property="price" column="priceDiscount"/>
        <result property="imgUrl" column="imgUrl"/>
        <result property="sellCounts" column="sellCounts"/>
    </resultMap>


    <select id="queryItemComments" parameterType="map" resultMap="BaseResultMap">
        SELECT ic.comment_level AS commentLevel,
        ic.content AS content,
        ic.sepc_name AS specName,
        ic.created_time AS createTime,
        ic.anonymous AS anonymous,
        users.nickname AS nickname,
        users.face AS face
        FROM `items_comments` ic
        LEFT JOIN `users` ON users.id = ic.user_id
        WHERE ic.item_id = #{paramsMap.itemId}
        <if test="paramsMap.commentLevel != null and paramsMap.commentLevel != ''">
            AND ic.comment_level = #{paramsMap.commentLevel}
        </if>
    </select>

    <select id="searchItems" parameterType="map" resultMap="SearchItemsResultMap">
        SELECT i.id AS itemId,
        i.item_name AS itemName,
        i.sell_counts AS sellCounts,
        ii.url AS imgUrl,
        tempSpec.price_discount AS price
        FROM items i
        LEFT JOIN items_img ii ON i.id = ii.item_id
        LEFT JOIN (SELECT item_id, MIN(price_discount) AS price_discount
        FROM items_spec
        GROUP BY item_id) tempSpec ON tempSpec.item_id = i.id
        WHERE ii.is_main = 1
        <if test="paramsMap.keywords != null and paramsMap.keywords != '' ">
            AND i.item_name LIKE '%${paramsMap.keywords}%'
        </if>
        ORDER BY
        <choose>
            <when test="paramsMap.sort == &quot;c&quot;">
                i.sell_counts DESC
            </when>
            <when test="paramsMap.sort ==  &quot;p &quot;">
                tempSpec.price_discount ASC
            </when>
            <otherwise>i.item_name ASC</otherwise>
        </choose>
        /*
        k: 默认, 代表默认排序,根据name
        c: 根据销量排序
        p: 根据价格排序
        */
    </select>

    <select id="searchItemsByThirdCat" parameterType="Map" resultType="com.xybh.pojo.vo.SearchItemsVO">
        SELECT i.id AS itemId,
        i.item_name AS itemName,
        i.sell_counts AS sellCounts,
        ii.url AS imgUrl,
        tempSpec.price_discount AS price
        FROM items i
        LEFT JOIN items_img ii ON i.id = ii.item_id
        LEFT JOIN (SELECT item_id, MIN(price_discount) AS price_discount
        FROM items_spec
        GROUP BY item_id) tempSpec ON tempSpec.item_id = i.id
        WHERE ii.is_main = 1
        AND i.cat_id = #{paramsMap.catId}
        ORDER BY
        <choose>
            <when test="paramsMap.sort == &quot;c&quot;">
                i.sell_counts DESC
            </when>
            <when test="paramsMap.sort ==  &quot;p &quot;">
                tempSpec.price_discount ASC
            </when>
            <otherwise>i.item_name ASC</otherwise>
        </choose>
    </select>

    <select id="queryItemsBySpecIds" parameterType="List" resultType="com.xybh.pojo.vo.ShopcartVO">
        SELECT t_items.id AS itemId,
        t_items_img.url AS itemImgUrl,
        t_items.item_name AS itemName,
        t_items_spec.id AS specId,
        t_items_spec.`name` AS specName,
        t_items_spec.price_discount AS priceDiscount,
        t_items_spec.price_normal AS priceNormal
        FROM items_spec t_items_spec
        LEFT JOIN items t_items ON t_items.id = t_items_spec.item_id
        LEFT JOIN items_img t_items_img ON t_items_img.item_id = t_items.id
        WHERE t_items_img.is_main = 1
        AND t_items_spec.id IN
        <foreach collection="paramsList" index="0" item="specId" open="(" separator="," close=")" >
            #{specId}
        </foreach>
    </select>
</mapper>